.icon-preview {
  width: 64px;
  height: 64px;
  border: 2px solid #444444;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-preview-placeholder,
.icon-preview-loading,
.icon-preview-error {
  font-size: 10px;
  text-align: center;
  padding: 4px;
  color: #888888;
}

.icon-preview-error {
  color: #ff4444;
}

